#contador {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
}
#usuario {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 17px;
    padding-top: 19px;
}
.tarea {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
   
}
#enlace1 {
    background-color: white;
}
#boton {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
    background-color: black;
}
#imagen {
  margin: 0px;
}
// .botonFecth{
// font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: white;
//     background-color: rgb(241, 25, 25);
// }
.centrado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back{
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 13px;
}
.contenedorBoton{
    width: 300px;
    height: 50px;
}
.column{
    display: flex;
    flex-direction: column;
}
.contenedorBoton5{
    width: 300px;
    height: 50px;
    margin-bottom: 100px;
}
.content{
    width: 305px;
    height: 185px;
    margin: auto;
    margin-top: 50px;
}
.border{
    border-radius: 13px;
}
.contenedorReload{
    width: 300px;
    height: 140px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.contenedorImagenRefresh{
    width: 85px;
    height: 85px;
    align-items: center;
    margin: auto;
}
.contenedorBotonRefresh{
    width: 190px;
     height: 45px;
     margin: auto;
  

}